body {
  padding: 10px;
  font-family: verdana, sans-serif;
}

header {
  /* background-image: linear-gradient(to bottom, midnightblue, #e1e5f0 100%); */
  background: #BBBCC2;
  padding: 5px;
  position: relative;
  margin-bottom: 3rem;
  border-radius: 1rem;
  border:solid 2px #607d8b;
}

.author {
  font-size: 1.5rem;
  color: #607d8b;
}

.machine-navbar {
  font-size: 2rem;
  color: #607d8b;
}

.css-instrument-name {
  width: 100%;
  text-align: left;
  background:  #ede7f6;
  border: solid 2px #90a4ae;
  color: #607d8b;
}

#slider {
  background:#9e9e9e;
}

.slider-value {
  color: green;
}

.btn-danger {
  width: 30px;
  height: 30px;
  padding: 1px 3px;
  border-radius: 25px;
  border-width: 0px;
          
}

.btn-success {
  width: 30px;
  height: 30px;
  padding: 1px 3px;
  border-radius: 25px;
  border-width: 0px;
          
}

.btn-lg {
  width: 45px;
  height: 45px;
  padding: 1px 2px;
  border-radius: 25px;
  border-width: 0px;      
}

.slider{
  border: 1px solid #212121;
}

.machine-container, .slider-container, .btns-container {
  border: 2px solid #607d8b;
  padding: 15px;
  background-color: #e0e0e0;
  border-radius: 1rem;
}

#myid.slider-container, #myid.btns-container {
  background-color: #aed581;
}

.current-speed {
  color: #607d8b;
}